runtime/data/xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:element name="intranet">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="server">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element type="xs:string" name="host"/>
                      <xs:element type="xs:short" name="port"/>
                      <xs:element type="xs:string" name="protocol"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="users">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element type="xs:string" name="avatar"/>
                            <xs:element type="xs:string" name="name"/>
                          </xs:sequence>
                          <xs:attribute type="xs:short" name="id" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:schema>
